body,html{
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
 }

.nav-color {
  background-color: #260101;
  /* background-color: #F20F38; */
  color: white; }

.form-container {
  margin: 4em 0;
  padding: 2em;
  color: white; 
  background-color:  rgb(49, 40, 70);
  box-shadow: 0px 0px 10px 0px #000; }

.align {
  display: block;
  margin-left: auto;
  margin-right: auto; }

 .alignment {
  text-align: center; 
  margin: 1em;
  color: rgb(65, 4, 14)
 }

  .max-height {
  min-height: calc(100vh - 76px);
  background-size: cover;
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;    
  position: relative;
  }  

  .banner {
    color: black;
  }
  .banner-title {
    color: rgb(65, 4, 14);
    font-size: 4rem;
  }


.room-container {
  margin-bottom: 6em; }

  .title {
    background-color: #1D0033;
    color: white;
    text-align: center;
  }

  .top-header {
    margin: 1em 0;
  }
 
  .search-box {
    margin: 1em;
  }

footer {
  background-color: #333;
  margin-top: 4em; }


 
