{{#each errors}}
<div class="p-3 mb-2 bg-secondary text-white">{{this}}</div>
{{/each}}

<body class="background">
<form class="container" method="POST" action="/user/login">
<section class="row justify-content-center">
  <section class="col-8 col-sm-10 col-md-4">
   <div class="form-container border rounded format">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email" value="{{email}}">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
  </div>
  <button type="submit" class="btn btn-primary btn-block" value="login">Log in</button>
  
  </div>
  </section>
  </section>
  </form>
  </body>

 