
    <div class="container-fluid banner">
      <div class="row max-height justify-content-center align-items-center">
        <div class="col-12 mx-auto text-center">
          <h1 class="text-capitalize">Welcome to <strong class="banner-title ">AirBnB</strong></h1>
          <a href="/room/viewrooms" class="btn btn-primary btn-lg text-uppercase my-2">Explore</a>
      </div>
     </div>
    </div>     

<h1 class="alignment">View our Rooms</h1>
<div class="container room-container">
  <div class="card-deck">
  <div class="card">
    <img src="/img/banner.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Private room</h5>
      <p class="card-text">Location: Brampton</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">View room</small>
    </div>
  </div>
  <div class="card">
    <img src="/img/bedroom.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Condo</h5>
      <p class="card-text">Location: Missisauga</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">View room</small>
    </div>
  </div>
  <div class="card">
    <img src="/img/bedroom-2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apartment</h5>
      <p class="card-text">Location: Toronto</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">View room</small>
    </div>
  </div>
</div>




</div>