<div class="jumbotron banner">
  <h1 class="display-4 alignment">WELCOME!</h1>
  <a class="btn btn-primary btn-lg" href="/room/viewRoom" role="button">Explore</a> 
</div>

<h1 class="alignment">Rooms</h1>
<div class="container room-container">
  <div class="card-deck">
  <div class="card">
    <img src="/img/banner.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Location: Brampton</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="/img/bedroom.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Location: Missisauga</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="/img/bedroom-2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Location: Toronto</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>




</div>