<div class="jumbotron banner">
  <h1 class="display-4">Welcome</h1>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
</div>